<footer>
		<tr>
				<th class="name2" colspan="3">Strength of the Class</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>sun</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>sun</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="name2" colspan="3">Total No of Students Present FN</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>sun</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>sun</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="name2" colspan="3">Signature of Teacher</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>sun</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>sun</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="name2" colspan="3">Total No of Students Present AN</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>sun</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>sun</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="name2" colspan="3">Signature of Teacher</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>sun</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>sun</td>
				<td></td>
				<td></td>
		</tr> 
    </footer>
    </table>
</body>
</html>