<!DOCTYPE html>
<html>
<head>
	<title>Atanance Report</title>
	<link rel="icon" type="image/gif/png" href="/images/skllogo.png" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/atnd-report.css">
</head>
<body>