<link rel="stylesheet" type="text/css" href="/stylesheets/error.css">
<div>
    <img src="/images/error.jpg" width="100%" height="619">
    <div class="cent">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
    </div>
</div>
