	<% include layouts/header.ejs %>
  <style type="text/css">
    .cent
      {
          text-align: center;
          position: absolute;
          top:50%;
          left: 10%;
      }
      .image-center{
        position: fixed;
        top: 10%;
      }
  </style>
  <br>
  <div class="main">
	<div>
    	<img class="image-center" src="/images/error.jpg" width="97%" height="80%">
      <div class="cent">
        <h1>Nothing Found</h1>
    	</div>
	</div>
</div>
  <% include layouts/footer.ejs %>