<% include layouts/header.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/show-class.css">
  <br>
  <div>
    <div class="container">
    <h1>Select Class To View Students Detials</h1>

        <h5>L.K.G</h5>
        <div class="row bg-dark text-white">
            <div class="col" onclick="window.open('/students/edit/LKG/A','_self');">
                <p>LKG A</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/LKG/B','_self');">
                <p>LKG B</p>
            </div>
        </div>
        <h5>L.K.G</h5>
        <div class="row bg-dark text-white">
            <div class="col" onclick="window.open('/students/edit/UKG/A','_self');">
                <p>UKG A</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/UKG/B','_self');">
                <p>UKG B</p>
            </div>
        </div>
        <h5>Class 1</h5>
        <div class="row bg-dark text-white">
            <div class="col" onclick="window.open('/students/edit/1/A','_self');">
                <p>1 A</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/1/B','_self');">
                <p>1 B</p>
            </div>
        </div>
        <h5>Class 2</h5>
        <div class="row bg-dark text-white">
            <div class="col" onclick="window.open('/students/edit/2/A','_self');">
                <p>2 A</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/2/B','_self');">
                <p>2 B</p>
            </div>
        </div>
        <h5>Class 3</h5>
        <div class="row bg-dark text-white">
            <div class="col" onclick="window.open('/students/edit/3/A','_self');">
                <p>3 A</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/3/B','_self');">
                <p>3 B</p>
            </div>
        </div>
        <h5>Class 4</h5>
        <div class="row bg-dark text-white">
            <div class="col" onclick="window.open('/students/edit/4/A','_self');">
                <p>4 A</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/4/B','_self');">
                <p>4 B</p>
            </div>
        </div>
        <h5>Class 5</h5>
        <div class="row bg-dark text-white">
            <div class="col" onclick="window.open('/students/edit/5/A','_self');">
                <p>5 A</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/5/B','_self');">
                <p>5 B</p>
            </div>
        </div>
        <h5>Class 6</h5>
        <div class="row bg-dark text-white">
            <div class="col" onclick="window.open('/students/edit/6/A','_self');">
                <p>6 A</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/6/B','_self');">
                <p>6 B</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/6/C','_self');">
                <p>6 C</p>
            </div>
        </div>
        <h5>Class 7</h5>
        <div class="row bg-dark text-white">
            <div class="col" onclick="window.open('/students/edit/7/A','_self');">
                <p>7 A</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/7/B','_self');">
                <p>7 B</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/7/C','_self');">
                <p>7 C</p>
            </div>
        </div>
        <h5>Class 8</h5>
        <div class="row bg-dark text-white">
            <div class="col" onclick="window.open('/students/edit/8/A','_self');">
                <p>8 A</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/8/B','_self');">
                <p>8 B</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/8/C','_self');">
                <p>8 C</p>
            </div>
        </div>
        <h5>Class 9</h5>
        <div class="row bg-dark text-white">
            <div class="col" onclick="window.open('/students/edit/9/A','_self');">
                <p>9 A</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/9/B','_self');">
                <p>9 B</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/9/C','_self');">
                <p>9 C</p>
            </div>
        </div>
        <h5>Class 10</h5>
        <div class="row bg-dark text-white">
            <div class="col" onclick="window.open('/students/edit/10/A','_self');">
                <p>10 A</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/10/B','_self');">
                <p>10 B</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/10/C','_self');">
                <p>10 C</p>
            </div>
        </div>
        <h5>Class 11</h5>
        <div class="row bg-dark text-white">
            <div class="col" onclick="window.open('/students/edit/11/A','_self');">
                <p>11 A</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/11/B','_self');">
                <p>11 B</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/11/C','_self');">
                <p>11 C</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/11/D','_self');">
                <p>11 D</p>
            </div>
        </div>
        <h5>Class 12</h5>
        <div class="row bg-dark text-white" id="border">
            <div class="col" onclick="window.open('/students/edit/12/A','_self');">
                <p>12 A</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/12/B','_self');">
                <p>12 B</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/12/C','_self');">
                <p>12 C</p>
            </div>
            <div class="col" onclick="window.open('/students/edit/12/D','_self');">
                <p>12 D</p>
            </div>
        </div>
	</div>
</div>
<% include layouts/footer.ejs %>